/** Background color */
html {
  min-height: 100%;
  background: linear-gradient(to bottom, #ffffff 0%, #8ea6db 100%);
  background-repeat: no-repeat;
}

body {
  padding: 3em 2em;
  font-family: 'Roboto Slab', serif;
}

.window {
  padding: 1em;
  background: #f5f7fa;
  border: 1px solid #e4e7ea;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  max-width: 100em;
}

#hide1,
#hide2 {
  display: block;
}

/** Text and boxes inside the main window */
h1,
h2,
h3,
p,
ul {
  color: #37474F;
}

h1 {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  font-size: 3em;
}

h2 {
  text-align: center;
  font-size: 2em;
}

h3 {
  text-align: center;
  font-size: 1.4em;
}

p.info {
  font-size: 2em;
  margin: 0.5em;
}

p.sidenote {
  font-size: 14px;
  margin: 0.5em;
}

/* Global button style */
.connectbtn,
.rxbutton,
.homebtn {
  color: white;
  font-size: 2em;
  cursor: pointer;
  padding: 0.5em 1em;
  font-family: 'Roboto Slab', serif;
  border: none;
  border-radius: 3px;
}

.connectbtn {
  display: block;
  background-color: #3F51B5;
  width: 75%;
  margin: 0.5em auto;
}

/** For test and debug sites */
.rxbutton {
  margin-top: 1em;
  float: left;
  background-color: #3F51B5;
}

.homebtn {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #3f51b5c7;
  font-size: larger;
}

/** Console behavior */
#midi-data {
  position: relative;
  overflow: hidden;
  height: 10vh;
  background: #ECEFF1;
  border: 2px solid #546E7A;
}

#midi-data ul {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0.5em;
}

#midi-data ul li {
  padding: 0.5em 1em;
  font-size: 1.4em;
  font-family: monospace;
  list-style-type: none;
}

#midi-data ul li:last-child {
  font-weight: bold;
  color: #3058db;
  animation: flash 0.5s;
  font-size: 1.4em;
}

#midi-data ul li:last-child:before {
  content: "> ";
  margin-left: -1em;
}

/* #rnbo-root {
  height: 100vh;
  width: 100vw;
} */
/* #background {
  position: absolute;
  z-index: -1;
} */
/* 
#rnbo-root {
  margin: auto;
  max-width: 540px;
} */

#rnbo-clickable-keyboard {
  display: flex;
  flex-wrap: wrap;
}

#rnbo-clickable-keyboard > div {
  margin: 2px;
  border: none;
  min-height: 50px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3f51b55b;
  color: #FFFFFF;
  text-emphasis: bold;
  border-radius: 10px;
  cursor: pointer;
  padding: 8px;
}

#rnbo-clickable-keyboard > div.clicked {
  background-color: #222222;
  color: #DDDDDD;
}



#rnbo-parameter-sliders {
  display: flex;
  flex-direction: column;
}

#rnbo-parameter-sliders > div {
  display: flex;
}

#rnbo-parameter-sliders > div > input:first-of-type {
  flex-grow: 1;
}

.slider-container {
  width: 200px;
  height: 40px;
  background-color: #ccc;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  padding: 5px;
  box-sizing: border-box;
}

.slider-bar {
  width: 100%;
  height: 100%;
  background-color: #ddd;
  border-radius: 20px;
  transition: background-color 0.3s;
}

.slider-thumb {
  width: 30px;
  height: 30px;
  background-color: #666;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s, transform 0.3s;
}

.slider-container:active {
  cursor: grabbing;
}

.slider-container:active .slider-thumb {
  transform: translate(-50%, -50%) scale(1.2);
}

.slider-progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-weight: bold;
}

.slider-container:hover .slider-bar {
  background-color: #aaa;
}

.slider-container:hover .slider-thumb {
  background-color: #333;

}



.connected-devices > {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sensor-grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 10px;
}

.device-block-ch1 {
  display: block;
  margin-bottom: 10px;
  padding: 10px;

  text-align: center;
  animation:            flash 0.5s;

  border: 3px solid rgb(255, 0, 0);
  border-radius: 5px;
  background-color: rgb(255, 0, 0, 0.2);
  /* width: 25%; */
}

.device-block-ch2 {
  display: block;
  margin-bottom: 10px;
  padding: 10px;

  text-align: center;
  animation:            flash 0.5s;

  border: 3px solid rgb(38, 34, 255);
  border-radius: 5px;
  background-color: rgb(38, 34, 255, 0.2);
  /* width: 25%; */
}

.device-block-ch3 {
  display: block;
  margin-bottom: 10px;
  padding: 10px;

  text-align: center;
  animation:            flash 0.5s;

  border: 3px solid rgb(43, 255, 0);
  border-radius: 5px;
  background-color: rgb(43, 255, 0, 0.2);
  /* width: 25%; */
}

.device-block-ch4 {
  display: block;
  margin-bottom: 10px;
  padding: 10px;

  text-align: center;
  animation:            flash 0.5s;

  border: 3px solid rgb(255, 230, 0);
  border-radius: 5px;
  background-color: rgb(255, 230, 0, 0.2);
  /* width: 25%; */
}

details summary {
  background-color: #3F51B5;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-start-start-radius: 5px;
  border-start-end-radius: 5px;
  border: none;
}

details summary > * {
  display: inline;
  color: rgb(255, 255, 255);
}

details > div {
  background-color: #3f51b544;
  margin-top: 0;
  padding: 1rem;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#rnbo-sensor-sliders {
  background-color: #3f51b544;
  /* cursor: pointer; */
  padding: .5rem 1rem;
  border-radius:          5px;
  border: none
}
#rnbo-sensor-sliders > div {
  display: flex;
}

#rnbo-sensor-sliders > div > input:first-of-type {
  flex-grow: 1;
}

/* #drop-area {
  border: 2px dashed #000000;
  border-radius: 20px;
  width: 480px;
  font-family: sans-serif;
  margin: 40px auto;
  padding: 20px;
}
#drop-area.highlight {
  border-color: purple;
}
p {
  margin-top: 0;
}
.my-form {
  margin-bottom: 2px;
}
#gallery {
  margin-top: 2px;
}
#gallery img {
  width: 150px;
  margin-bottom: 2px;
  margin-right: 2px;
  vertical-align: middle;
}
.button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.button:hover {
  background: #ddd;
}
#fileElem {
  display: none;
} */


/** Animation - Flash*/
@keyframes flash {
  0% {
    color:            #FFC107;
  }
  100% {
    color:            #3F51B5;
  }
}